name: Build

on:
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'cmd/**'
      - 'pkg/**'
      - 'test/**'
      - 'go.mod'
      - 'go.sum'
      - 'makefile'
      - '!**/*.md'
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Build executables
        run: |
          GOOS=windows GOARCH=amd64 go build -o build/win-amd64/cbuild2cmake.exe ./cmd/cbuild2cmake
          GOOS=windows GOARCH=arm64 go build -o build/win-arm64/cbuild2cmake.exe ./cmd/cbuild2cmake
          GOOS=darwin GOARCH=amd64 go build -o build/mac-amd64/cbuild2cmake ./cmd/cbuild2cmake
          GOOS=darwin GOARCH=arm64 go build -o build/mac-arm64/cbuild2cmake ./cmd/cbuild2cmake
          GOOS=linux GOARCH=amd64 go build -o build/lin-amd64/cbuild2cmake ./cmd/cbuild2cmake
          GOOS=linux GOARCH=arm64 go build -o build/lin-arm64/cbuild2cmake ./cmd/cbuild2cmake        

      - name: Archive windows amd64 binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cbuild2cmake-windows-amd64
          path: ./build/win-amd64/cbuild2cmake.exe
          retention-days: 1
          if-no-files-found: error

      - name: Archive windows arm64 binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cbuild2cmake-windows-arm64
          path: ./build/win-arm64/cbuild2cmake.exe
          retention-days: 1
          if-no-files-found: error

      - name: Archive macos amd64 binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cbuild2cmake-mac-amd64
          path: ./build/mac-amd64/cbuild2cmake
          retention-days: 1
          if-no-files-found: error

      - name: Archive macos arm64 binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cbuild2cmake-mac-arm64
          path: ./build/mac-arm64/cbuild2cmake
          retention-days: 1
          if-no-files-found: error

      - name: Archive linux amd64 binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cbuild2cmake-lin-amd64
          path: ./build/lin-amd64/cbuild2cmake
          retention-days: 1
          if-no-files-found: error

      - name: Archive linux arm64 binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cbuild2cmake-lin-arm64
          path: ./build/lin-arm64/cbuild2cmake
          retention-days: 1
          if-no-files-found: error
