name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - '**/*.go'
      - 'makefile'
      - 'go.mod'
      - 'go.sum'
      - '!**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-and-verify:
    uses: Open-CMSIS-Pack/workflows-and-actions-collection/.github/workflows/build-and-verify.yml@v1.0.2
    secrets:
      QLTY_COVERAGE_TOKEN: ${{ secrets.QLTY_COVERAGE_TOKEN }}
    with:
      program: cbuild2cmake
      go-version-file: ./go.mod
      enable-qlty-coverage: true

  publish-test-results:
    name: "Publish Tests Results"
    needs: [ build-and-verify ]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: ${{ github.event.pull_request.user.login != 'dependabot[bot]' && github.workflow != 'Release' }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Download Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts

      - name: publish test results
        uses: EnricoMi/publish-unit-test-result-action/linux@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        with:
          files: artifacts/**/cbuild2cmake-testreport-*.xml
          report_individual_runs: true
