name: global
on:
  pull_request:
    paths:
      - '.github/workflows/global.yml'
      - '.pre-commit-config.yaml'
      - 'scripts/check_copyright_notice.py'
      - '**/*.go'
      - '!**/docs/**/*'
      - '!**/*.md'

# Declare default permissions as read only.
permissions: read-all

jobs:
  copyright:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout devtools
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check copyright notice
        run: |
          pip install \
            pre-commit \
            python-magic==0.4.18 \
            comment-parser>=1.2.3
          pre-commit run --all-files
