name: Release

on:
  pull_request:
    paths:
      - .github/workflows/release.yml
      - ./scripts/release_notes
      - .goreleaser.yml
  push:
    tags:
      - "v*"

jobs:
  test:
    uses: Open-CMSIS-Pack/cbuild2cmake/.github/workflows/test.yml@main

  goreleaser:
    needs: test
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download test results
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 # v4.1.4
        with:
          pattern: test-results-*
          path: testreport/

      - name: Zip test reports
        run: |
          zip -r testreport.zip testreport

      - name: Attach test report to release assets
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@04733e069f2d7f7f0b4aebc4fbdbce8613b03ccd # v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: testreport.zip
          tag: ${{ github.ref }}
          overwrite: true

      - name: Checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Generate release notes
        run: |
          ./scripts/release_notes > /tmp/RELEASE_NOTES

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@7ec5c2b0c6cdda6e8bbb49444bc797dd33d74dd8 # v5.0.0
        with:
          version: latest
          args: release ${{ github.event_name != 'push' && '--snapshot' || '' }} --clean --release-notes=/tmp/RELEASE_NOTES
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
